* {
    margin: 0;
    color: #fdfdfd;
    /* background-color: #131517; */
}

/* Users */
.Heading {
    font-size: 20px;
    font-weight: 700;
    padding: 20px
}

.SearchBox {
    background-color: #141619;
    border-radius: 8px;
    border: none;
    caret-color: #fdfdfd;
    color: #fdfdfd;
    outline: none;
}

.SearchBox input::placeholder {
    color: #ffffff;
}

::placeholder {
    opacity: 1;
}

.UserList {
    background-color: #212229;
}

.profile-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.username {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.UserDetails {
    display: flex;
    align-items: center;
    padding: 12px;
}

.user-info {
    padding:15px;
}

.username-time {    
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.recent-time {
    font-size: 13px;
    color: #aaaaaa;
    margin: 0;
    margin-left: auto; 
}


.last-message {
    font-size: 14px;
    color: #aaaaaa;
    margin: 0px;
}